Azuli.Web.Portal/Azuli.Acess.Control/Service References/ServiceReference1/WebServiceAzuli.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="cadastraFoto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="foto" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cadastraFotoResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="cadastraFotoSoapIn">
    <wsdl:part name="parameters" element="tns:cadastraFoto" />
  </wsdl:message>
  <wsdl:message name="cadastraFotoSoapOut">
    <wsdl:part name="parameters" element="tns:cadastraFotoResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceAzuliSoap">
    <wsdl:operation name="cadastraFoto">
      <wsdl:input message="tns:cadastraFotoSoapIn" />
      <wsdl:output message="tns:cadastraFotoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceAzuliSoap" type="tns:WebServiceAzuliSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="cadastraFoto">
      <soap:operation soapAction="http://tempuri.org/cadastraFoto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceAzuliSoap12" type="tns:WebServiceAzuliSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="cadastraFoto">
      <soap12:operation soapAction="http://tempuri.org/cadastraFoto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceAzuli">
    <wsdl:port name="WebServiceAzuliSoap" binding="tns:WebServiceAzuliSoap">
      <soap:address location="http://localhost:56614/WebServiceAzuli.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceAzuliSoap12" binding="tns:WebServiceAzuliSoap12">
      <soap12:address location="http://localhost:56614/WebServiceAzuli.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>